html, body{
	height: 100%;
}

/* ------------------------------------------------- */ 
/* itens da lista */
/* ------------------------------------------------- */ 
.thumbnail img{
	border-radius: 3%;	
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #6E6E6E;
  background-color: transparent;
  box-shadow: none;
}

.lista-cor-intercalado{
	background-color: #E6E6E6;
}