#sidebar-wrapper {
  margin-top: -20px;
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: rgba(230,230,230,0.95);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -ms-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.sidebar-nav ul{
  list-style: none;
  padding: 0;
  padding-right: 10px;

}

.dropdown-menu ul li {
  line-height: 40px;
  text-indent: 20px;
  margin-left: 10px;
  color: #6E6E6E;
}

.dropdown-menu ul li a {
  color: #6E6E6E;
  display: block;
  text-decoration: none;
}

.dropdown-menu ul li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.dropdown-menu ul li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.dropdown-menu > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;

}

.sidebar-nav > .sidebar-brand a {
  color: #6E6E6E;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
/*
#menu-toggle {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}
*/
#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

.off-Scroll {
  overflow: hidden;
  position:fixed;
}

.img-sidebar{
  width: 250px;
  border-radius: 20px;
  padding: 10px;
}


/*  #########################################  */

.overlay {
  display: none;
  position: fixed;
  margin-bottom: 100px;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1;
}

.body-overlay-active{
  margin-top: 72px;
}

hr{
  width: 80%;
  text-align: center; 
  background-color: black; 
}

.dropdown-menu{
  width: 250px;
}